<div class="page-container">
    <h1>Editer profil utilisateur</h1>
    <form [formGroup]="editForm">
        <div>
            <label>Prénom</label>
            <input type="text" class="form-control" [(ngModel)]="user.prenomUtilisateur"
                formControlName="nomUtilisateur">
        </div>
        <div>
            <label>Nom</label>
            <input type="text" class="form-control" [(ngModel)]="user.nomUtilisateur"
                formControlName="prenomUtilisateur">
        </div>
        <div>
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="user.email" formControlName="email">
        </div>
        <div>
            <button class="btn btn-primary btn-round" (click)="updateUser()">Modifier</button>
        </div>
    </form>
</div>