<div>
    <!--<form (submit)="logout()">
        <button class="btn btn-sm btn-danger float-right">
            <div>
                <i class="ni ni-button-power"></i>
            </div>
        </button>
    </form>-->
</div>

<div>
    <!-- Formulaire d'ajout début-->
    <div class="container-fluid mt--7">
        <div class="col-xl-12 order-xl-1">
            <div  class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Create Case</h3>
                        </div>
                    </div>
                </div>
                  
                <div class="card-body">
                    <form (ngSubmit)="findOneCase(researchCase.idCase)">
                    <div style="margin : 0 auto; width: fit-content;">
                        Research
                        <select [(ngModel)]="researchCase.idCase" name="researchIdCase"
                        class="form-control form-control-alternative" >
                    <option *ngFor="let c of cases" [ngValue]="c.idCase">{{c.titleCase}}</option>
                    </select>
                    <div>
                        <button class="btn btn-danger">Search</button>
                    </div>
                    </div>
                    </form>
                    <div style="margin : 0 auto; width: fit-content;">
                        <tr>
                            <th scope="col">Resultat de la recherche</th>
                        </tr>
                        <tr>
                            <td>{{researchCase.titleCase}}</td>
                            <td>{{researchCase.referenceCase}}</td>
                            <td>{{researchCase.descriptionCase}}</td>
                            <td>{{researchCase.status}}</td>
                            <td><span *ngFor="let d of researchCase.documents">{{d.nameDoc}},</span></td>
                        </tr>
                    </div>
                    <form (ngSubmit)="saveCase()">
                        <h6 class="heading-small text-muted mb-4">Case informations</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-title">Title</label>
                                        <input type="text" [(ngModel)]="caseObject.titleCase" name="titleCase"
                                            class="form-control form-control-alternative" placeholder="Title" >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-reference">Reference</label>
                                        <input type="text" [(ngModel)]="caseObject.referenceCase" name="referenceCase"
                                            class="form-control form-control-alternative" placeholder="Reference">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-reference">Description</label>
                                        <input type="text" [(ngModel)]="caseObject.descriptionCase" name="descriptionCase"
                                            class="form-control form-control-alternative" placeholder="Description">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-reference">Status</label>
                                        <input type="number" [(ngModel)]="caseObject.status" name="status"
                                            class="form-control form-control-alternative" placeholder="Status : 0 / 1 / 2">
                                    </div>
                                </div>

                            </div>
                            <div>
                                <button class="btn btn-danger">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Formulaire d'ajout fin-->
    <!--Table d'affichage des données début-->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Cases list</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Reference</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                                <th scope="col">Related_Documents</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of cases">
                                <td>{{c.titleCase}}</td>
                                <td>{{c.referenceCase}}</td>
                                <td>{{c.descriptionCase}}</td>
                                <td>{{c.status}}</td>
                                <td ><span *ngFor="let d of c.documents">{{d.nameDoc}}, </span></td>
                                <td>
                                    <button class="btn btn-outline-danger"
                                        (click)="deleteCase(c.idCase)">Delete</button>
                                    <button class="btn btn-info" (click)="editCase(c)">Edit</button>

                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">DashBoard</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Archived</th>
                                <th scope="col">In progress</th>
                                <th scope="col">In coming</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>
                                <tr *ngFor="let c of cases">
                                    <ng-container *ngIf="c.status ===0"><td>{{c.titleCase}}</td></ng-container>
                                </tr>
                            </td>
                            <td>
                                <tr *ngFor="let c of cases">
                                    <ng-container *ngIf="c.status ===1"><td>{{c.titleCase}}</td></ng-container>
                                </tr>
                            </td>
                            <td>
                                <tr *ngFor="let c of cases">
                                    <ng-container *ngIf="c.status ===2"><td>{{c.titleCase}}</td></ng-container>
                                </tr>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Table d'affichage des données fin-->
